<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://192.168.0.112:3000/assets/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="http://192.168.0.112:3000/css/greedy.css">
</head>

<body>
    <div class="flex flex-col h-screen mainscreen">
        <div class="basis-12 ">

        </div>
        <div class="basis-full ">
            <div class="flex h-full justify-center items-center bg-gray-300">
                <div class="absolute w-[360px] h-[360px]">
                    <img class="w-full p-10" src='/game/greedy/ferris-wheel.png' alt="" />
                </div>
                <div class="wheeldiv absolute">

                    <div class="number" style="--n:1">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>
                    <div class="number" style="--n:2">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>
                    <div class="number" style="--n:3">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>
                    <div class="number" style="--n:4">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>
                    <div class="number" style="--n:5">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>
                    <div class="number" style="--n:6">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>
                    <div class="number" style="--n:7">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>
                    <div class="number" style="--n:8">
                        <div class='w-14 h-14 rounded-lg'>
                            <img class="w-full p-1" src='/game/greedy/option.png' alt="" />
                        </div>
                    </div>

                </div>
                <div class="absolute w-14 h-14 bg-green-500 rounded-full flex justify-center items-center">
                    <span class="text-center font-bold text-white text-lg">5</span>
                </div>
            </div>
        </div>
        <div class="basis-12 "><p>some</p></div>
    </div>
</body>

</html>